@font-face { 
	font-family: 'roboto_bold';
	src: url('../fonts/RobotoCondensed-Bold.ttf') format('ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face { 
	font-family: 'roboto_normal';
	src: url('../fonts/PTMono-Regular.ttf') format('ttf');
	font-weight: 400;
	font-style: normal;
}	
@font-face { 
	font-family: 'roboto';
	src: url('../fonts/Roboto-Medium.ttf') format('ttf');
	font-weight: medium;
	font-style: normal;
}
	 

.clearfix:after {
	content		: ".";
	visibility	: hidden;
	display		: block;
	height		: 0;
	clear		: both;
}
header{
	width: 100%;
	min-height: 100%;
	margin-right: auto;
	margin-left: auto;
}

.wrapper{
	width: 1400px;
    margin-right: auto;
	margin-left: auto;
	display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.brain_logo{
    float: left;
    display: block;
    margin-left: 0px;
    margin-top: 20px;
}

    

.smart_text{
    display: inline-block;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    margin: 15px 0px 0px 13px;
    width: 214px;
}
.menu{
	width: 700px;
	display: flex;
    justify-content: flex-end;
	flex-flow: row wrap;



}
.main_pic{
	margin-left: 721px;
}
